# This should match the owning team set up in https://github.com/orgs/opensearch-project/teams
*   https://github.com/orgs/opensearch-project/teams/knowledge
*   https://github.com/orgs/opensearch-project/teams/sql